name: validate

on:
  push:
    paths:
      - datasets/**
      - scripts/validate/**
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r scripts/validate/requirements.txt
      - name: Run validation script
        run: bash ./scripts/validate/validate.bsh datasets/
